:root{
    --principal: #0077B6;
    --secundario: #00B4D8;
    --terciario: #CAF0F8 ;
    --azul_claro: #90E0EF ;
    --azul_oscuro: #03045E ;
    --negro: #000;
    --gris_claro: #979DAC ;

    --fuentePrincipal: 'Fira Sans', sans-serif;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;

}

*, *:before, *:after {
  box-sizing: inherit;
}

/**Globales**/
body {
  background-color: var(--terciario);
  font-size: 1.6rem;
  line-height: 1.5;
}
p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  text-align: center;
  color: var(--secundario);
  font-family: var(--fuentePrincipal);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}

/**Header**/
.header {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.header__logo{
  width: 9rem;
  height: 100%;
}
@media (min-width: 480px) {
  .header__logo {
    width: 14rem;
    height: 100%;
  }
}
.header__logo:hover {
  transform: scale(1.1);
}
/**Navegacion**/
.navegacion {
  background-color: var(--principal);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.navegacion__enlace {
  color: var(--negro);
  font-family: var(--fuentePrincipal);
  font-size: 2.5rem;
}
@media (min-width: 480px) {
  .navegacion {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
  }
  .navegacion__enlace {
    font-size: 3rem;
  } 
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
  color: var(--gris_claro);
}

/**Contenido**/
/**Nosotros**/
.nosotros__titulo {
  margin: 2rem 0;
}
.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  text-align: center; /* Asegura que el texto esté centrado en dispositivos pequeños */
}
@media (min-width: 768px) {
  .nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}
.nosotros p {
  padding: 0 1.5rem;
  text-align: center; /* Asegura que el texto esté centrado en dispositivos más grandes */
}
.nosotros__imagen {
  width: 100%;
  height: auto;
}


/**Bloques**/
.contenedor {
  margin: 0 1rem;
}
.bloques {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .bloques {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
}
.bloque {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.bloque svg { 
  width: 5rem;
  height: 5rem;
}
@media (min-width: 768px) {
  .bloque svg {
    width: 7rem;
    height: 7rem;
  }
}
.bloque__titulo {
  margin: 0;
}

/**Footer**/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: var(--azul_claro);
}
.footer__contenido {
  font-size: 2.5rem;
}
.footer__logos {
  display: flex;
}
.footer__logos__icons--1,
.footer__logos__icons--2 {
  border: .5rem solid var(--azul_oscuro); 
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem;
  margin: .3rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza los cambios de estilo */
}

.footer__logos__icons--1:hover,
.footer__logos__icons--2:hover {
  transform: scale(1.1); /* Aumenta el tamaño del icono al pasar el cursor sobre él */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Añade una sombra alrededor del icono */
  cursor: pointer; 
}
.footer__logos svg {
  width: 4rem;
  height: 4rem;
}

@media (max-width: 480px) {
  .footer__contenido {
    font-size: 1.5rem;
  }
  .footer__logos__icons--1,
  .footer__logos__icons--2 {
    border-width: .3rem; /* Ajusta el grosor del borde para pantallas pequeñas */
    
  }
  .footer__logos svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.footer a {
  text-decoration: none;
  color: var(--negro);
  font-weight: bold;
}
.footer__logos__icons--2 {
  border-color: green; /*  Icono de whatsapp */
}

