
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
:root{
    --principal: #0466C8;
    --azul_claro: #0353A4;
    --azul_mediano: #023E7D;
    --azul_terceario: #002855 ;
    --azul_oscuro: #001233 ;
    --gris_oscuro: #33415C ;
    --gris_mediano: #5C677D ;
    --gris_terceario: #7D8597 ;
    --gris_claro: #979DAC ;
}
